.Login {
    /* get full size of the page */
    overflow: auto;
    height: 100%;
}

.Login>form {
    width: 350px;
    height: auto;
    border: 1px solid;
    text-align: left;
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Login>form>* {
    width: 100%;
}

.Login .formHeader {
    text-align: center;
    margin-bottom: 10px;
}

/* default css for error to keep space free and not push all form when appears */
.Login .errorText {
    height: 1em;
    margin-top: -8px;
    font-size: 0.75em;
    visibility: hidden;
    color: red;
}

/* Make the error text visible when there is an error */
.Login .errorText.visible {
    visibility: visible; 
}