.Header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(96, 189, 146);
}

.Header h1 {
    padding: 0;
    margin: 5px 0;
    
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.Header .left-header {
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.Header .right-header {
    margin: 2% 2%;
    display: flex;
    align-self:flex-start ;
}