.UpdateVacation {
    /* get full size of the page */
    overflow: auto;
    height: 100%;
}

.UpdateVacation>form {
    width: 350px;
    height: auto;
    border: 1px solid;
    text-align: left;
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.UpdateVacation>form>* {
    width: 100%;
}

.UpdateVacation .formHeader {
    text-align: center;
    margin-bottom: 10px;
}

/* default css for error to keep space free and not push all form when appears */
.UpdateVacation .errorText {
    height: 1em;
    margin-top: -8px;
    font-size: 0.75em;
    visibility: hidden;
    color: red;
}

/* Make the error text visible when there is an error */
.UpdateVacation .errorText.visible {
    visibility: visible;
}

.UpdateVacation .imageContainer {
    position: relative;
    transition: filter 0.3s;
    /*smooth image blur */
}

/* don't display default upload style. */
.UpdateVacation .displayedImageInput {
    display: none;
}

/* make image dark on hover */
.UpdateVacation .imageContainer:hover .displayedImage {
    filter: brightness(70%);
}

.UpdateVacation .displayedImage {
    width: inherit;
    border: 1px solid grey;
    border-radius: 5px;
}

.UpdateVacation .displayedImageWithError {
    width: inherit;
    border: 1px solid red;
    border-radius: 5px;
}

/* absolute centering the button */
.UpdateVacation .imageUploadButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.UpdateVacation .imageContainer:hover .imageUploadButton>span {
    border: 1px solid;
    /* display border on image hover*/
}